<?xml version="1.0"?>
<config>
  <modules>
    <ET_Categorytype>
      <version>0.1.0</version>
    </ET_Categorytype>
  </modules>
  <global>
    <helpers>
      <categorytype>
        <class>ET_Categorytype_Helper</class>
      </categorytype>
    </helpers>
	<models>
	  <categorytype>
		<class>ET_Categorytype_Model</class>
		<resourceModel>categorytype_mysql4</resourceModel>
	  </categorytype>
	</models>
	<resources>
	  <categoryattribute_setup>
		<setup>
		  <module>ET_Categorytype</module>
		  <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </categoryattribute_setup>
	  <categoryattribute_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </categoryattribute_write>
	  <categoryattribute_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </categoryattribute_read>
	</resources>
  </global>
</config> 