<?xml version="1.0"?>
<config>
  <modules>
    <ET_Categorytype>
      <version>0.1.0</version>
    </ET_Categorytype>
  </modules>
  <frontend>
    <routers>
      <categorytype>
        <use>standard</use>
          <args>
            <module>ET_Categorytype</module>
            <frontName>categorytype</frontName>
          </args>
      </categorytype>
    </routers>
		<layout>
		  <updates>
			<categorytype>
			  <file>categorytype.xml</file>
			</categorytype>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <categorytype>
        <class>ET_Categorytype_Helper</class>
      </categorytype>
    </helpers>
	<blocks>
	  <categorytype>
		<class>ET_Categorytype_Block</class>
	  </categorytype>
			<catalog>
				<rewrite>
					<category_view>ET_Categorytype_Block_Catalog_Category_View</category_view>
				</rewrite>
			</catalog>
	</blocks>
	<models>
	  <categorytype>
		<class>ET_Categorytype_Model</class>
		<resourceModel>categorytype_mysql4</resourceModel>
	  </categorytype>
	</models>
	<resources>
	  <categoryattribute_setup>
		<setup>
		  <module>ET_Categorytype</module>
		  <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </categoryattribute_setup>
	  <categoryattribute_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </categoryattribute_write>
	  <categoryattribute_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </categoryattribute_read>
	</resources>
  </global>
</config> 